<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>Hello</center>
    <table border="1">
        <thead>
            <th>sr no.</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Thumbal Image</th>
        </thead>
        <tbody>
            <% pro.map((val, i)=>{ i++%>
            <tr>
                <td><%= i  %></td>
                <td><%= val.PoductName %></td>
                <td><%= val.Unit %></td>
                <td><img src="<%= val.ThumbnailImage %>" alt="" width="60"></td>
            </tr>
                <%}) %>
        </tbody>
    </table>
</body>
</html>